static const pages = ["components", "accessibility", "guides"];
import { components, urls } from "../data";
export interface Input {
    page?: string;
    content?: Marko.Body;
}

<if=(pages.indexOf(input.page || "") > -1)>
    <div class="content page-grid-container">
        <div class="page-grid">
            <div class="site-nav secondary-nav">
                <nav id="nav" aria-labelledby="navrail-nav_title">
                    <h2 id="navrail-nav_title">
                        <const/currentUrl = (() => {
                            if (input.page === "components") {
                                return urls.components;
                            } else if (input.page === "accessibility") {
                                return urls.accessibility
                            } else if (input.page === "guides") {
                                return urls.guides;
                            }
                        })()>
                        <a href=currentUrl>
                            ${input.page?.toLocaleUpperCase()}
                        </a>
                    </h2>
                    <ul>
                        <if=input.page === "components">
                            <components-list components=components/>
                        </if>
                        <else if=input.page === "accessibility">
                            <a11y-docs-list/>
                        </else>
                        <else if=input.page === "guides">
                            <li>
                                <a href=`${urls.guides}/page-grid`>
                                    Page Grid Use Guide
                                </a>
                            </li>
                            <li>
                                <a href=`${urls.guides}/skeleton`>
                                    Skeleton Use Guide
                                </a>
                            </li>
                            <li>
                                <a href=`${urls.guides}/animation`>
                                    Animation Guide
                                </a>
                            </li>
                        </else>
                    </ul>
                </nav>
            </div>
            <main id="main">
                <breadcrumbs/>
                <component-tabs>
                    <${input.content}/>
                </component-tabs>
            </main>
        </div>
    </div>
</if>
<else>
    <main id="main" class="landing-page">
        <${input.content}/>
    </main>
</else>
