import { urls } from "../../../../data";
<div class="a11y-pattern-content">
  <h1>Accessibility FAQ</h1>
  <p>
    Listed below are frequently asked questions. If you have a question that is
    not answered here, please start an
    <a href="https://github.com/eBay/evo-web/issues">
      issue
    </a>
    .
  </p>
  <h2>Should I use a button or a link?</h2>
  <p>
    A general rule of thumb is that if the resulting action should be be a
    <em>bookmark-able</em>
    URL, or would benefit from being opened in a new window or tab, then a
    link should be used. Otherwise, if the action just runs some JavaScript
    (i.e. opens a dialog or menu), then a button should be used.
  </p>
  <p>
    Correct use of link and button is very important for accessibility. When a
    user hears “button”, they expect the click to perform some action on the
    current page. When the user hears “link”, they expect the click to take them
    to a new URL, or a new URL fragment on the current page.
  </p>
  <p>
    Now, within the context of a Single Page App (SPA), the lines can get a
    little blurry, and there are many opinions either way. However, our guidance
    remains consistent with above - use links for anything that updates
    <em>browser history state</em>
    , as links give the user a hint that they are moving through
    bookmark-able state.
  </p>
  <p>
    NOTE: There is one special type of button that can also change the URL. The
    form submit button. This button will GET or POST to the URL specified in the
    form’s
    <code>action</code>
    property.
  </p>
  <h2>
    <strong>Should Buttons Have a Hand Cursor?</strong>
  </h2>
  <p>
    No. The hand cursor is reserved for links. Affordance of button
    interactivity comes from how the element
    <em>looks</em>
    (i.e. it should look like a button!), and should not require use of a
    mouse.
  </p>
  <p>
    See
    <a href=`${urls.accessibility}/anti-patterns/hand-cursor-on-buttons`>
      Hand Cursor on Buttons
    </a>
    antipattern for more info.
  </p>
  <h2>Can a focussed button be a live-region?</h2>
  <p>
    No. Some screen readers automatically announce any changes to the
    programmatic label of the focussed element, and so using a live-region would
    trigger a second, redundant announcement.
  </p>
  <p>
    Also, the purpose of live-regions is for areas of the page
    <em>away</em>
    from the current focus.
  </p>
  <p>
    If visually conveying a loading/waiting state within the button, make sure
    to change the label to “Busy”, so that the busy status is programmatically
    determinable. If wishing to also convey a final completion state, it is
    recommended to do that outside of the button (in a Snackbar/Toast for
    example) using a live-region.
  </p>
  <h2>When should a live-region be used?</h2>
  <p>
    Not every dynamic update to the page needs to be communicated to the user
    via a
    <a href=`${urls.accessibility}/techniques/live-region`>
      live region
    </a>
    . Doing so could create a confusing, noisy and distracting experience
    for users of assistive technology.
  </p>
  <p>
    So when
    <em>should</em>
    they be used? As ever with accessibility, the choice requires some
    prudence and scrutiny.
  </p>
  <h3>Downstream Changes</h3>
  <p>
    A general rule of thumb is that any change
    <em>on</em>
    or
    <em>after</em>
    the currently focussed element will be discovered in the natural
    reading order and therefore does not need to be communicated.
  </p>
  <p>
    A common pattern with forms is that selecting one option might dynamically
    change the next set of options. This is how paper forms work too, e.g. “Jump
    to section F if checkbox 1A is checked”; and removing this “thinking step”
    from web forms is actually a great accessibility feature! However, we do not
    need to announce that the options changed or that new options are available,
    and we certainly do not need to go into excruciating detail about what
    options
    <em>are</em>
    now available. This would quickly get very silly for complicated forms
    with lots of changes.
  </p>
  <p>
    One exception to this “downstream” rule are elements that are explicitly
    designed to inform the user of an important update. Common examples of this
    are the Snackbar or Toast patterns. Their entire purpose is to grab the
    users attention,
    <em>without</em>
    grabbing their keyboard focus. A great case for a live-region.
  </p>
  <p>
    Other than filling out a form, things can also change frequently downstream
    as a result of user actions on buttons and menus. Checkout totals, shipping
    costs, item quantity, search results, loading spinners, etc. Sometimes all
    of the above at the same time! Before converting
    <em>every</em>
    dynamic piece of content into a live region, think about the
    experience you want the user to have.
  </p>
  <h3>Upstream Changes</h3>
  <p>
    So what upstream changes need to be communicated? Error messages for
    certain. Whether the error message appears at the top of the page (many
    pixels away from the submit button the user is currently focussed on) or
    right after the previous textbox they just left, the user should be made
    aware of the
    <em>existence</em>
    of an error message. Note the word “existence”. In the case of
    multiple errors, we do not necessarily need to spell out each and every
    error and how to fix them as part of the live-region announcement, our job
    is to inform that there
    <em>was</em>
    an error. They can then navigate to the
    <a href=`${urls.accessibility}/messaging/page-notice`>
      page notice
    </a>
    or field to learn more.
  </p>
  <p>
    Site-level headers and menu-bars are areas that often receive dynamic
    updates upstream from the users location. Icon buttons with badges
    displaying notification counts, watch-list counts, items in cart count, etc.
    When these counts change, should they be announced? Think about the
    experience of somebody who is quickly going through search results and
    adding many results to their watchlist. An announcement of number of items
    in watchlist could quickly get repetitive and annoying. On the other hand,
    an announcement of a new notification could be really useful.
  </p>
  <h2>
    How do I add content
    <em>exclusively</em>
    for screen readers?
  </h2>
  <p>
    Apply the
    <code>.clipped</code>
    class (or its rules) to the element that you want to be visually
    hidden. The element will remain accessible in the reading order of screen
    readers.
  </p>
  <pre><code class="language-css">.clipped {
  border: 0 !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
</code></pre>
  <p>
    For interactive elements such as buttons and links, the
    <code>aria-label</code>
    attribute can be used. This technique is common for icon buttons that
    do not have any visible text.
  </p>
  <p>
    For more information please read the excellent
    <a href="https://www.sitepoint.com/when-and-how-to-visually-hide-content/">
      “When and How to Visually Hide Content”
    </a>
    by Dennis Lembree.
  </p>
  <h2>Will offscreen text incur a search ranking penalty?</h2>
  <p>
    No, it is fine to use
    <a href=`${urls.accessibility}/techniques/offscreen-text`>
      offscreen text
    </a>
    .
  </p>
  <p>
    There is a more detailed answer on the
    <a href="https://productforums.google.com/forum/#!msg/webmasters/YJcZUhtMIE4/XkOEzVakBAAJ">
      Google Webmaster forum
    </a>
    .
  </p>
  <h2>
    When using Safari I can’t TAB through the links on the page. What’s going
    on?
  </h2>
  <p>You must enable the following option in Safari’s preferences:</p>
  <pre><code>Safari -&gt; Preferences -&gt; Advanced -&gt; Accessibility -&gt; &quot;Press Tab to highlight each item on a webpage&quot;
</code></pre>
  <p>And here’s how to do the same for Firefox:</p>
  <pre><code>System Preferences -&gt; Keyboard -&gt; Keyboard Shortcuts -&gt; Full Keyboard Access -&gt; &quot;All controls&quot;
</code></pre>
  <h2>
    I’m using Microsoft Remote Desktop for Mac to test with JAWS on a Windows
    machine. My keyboard does not have an INSERT key. How do I send the INSERT
    command?
  </h2>
  <p>
    It is true that Mac keyboards do not have an INSERT key, and this is a known
    issue with MRD. The workaround is to install a hotkey application such as
    <a href="https://pqrs.org/osx/karabiner/">
      Karabiner
    </a>
    .
  </p>
  <p>
    Once installed, check the checkbox “Enable at only Remote Desktop Connection
    Client - Use F12 as insert”.
  </p>
  <p>
    Now you should be able to activate any JAWS commands that require the INSERT
    key (e.g. opening the Links List).
  </p>
  <h2>How do I know where headings are required?</h2>
  <p>
    As a rough guideline, it can help to think that every
    <em>block</em>
    or
    <em>section</em>
    that sighted people use to create their
    <em>mental model</em>
    of the page,
    <strong>must</strong>
    have a heading. These headings, and the structure they create, allow
    users of assistive technology to create the same mental model.
  </p>
  <p>Identifying headings is the responsibility of the design team.</p>
  <p>
    Although we strongly discourage it, sometimes a heading will be hidden
    visually offscreen and available only to assistive technology. Again,
    defining these types of headings is the responsibility of the design team.
  </p>
  <h2>Should SPACEBAR or ENTER key activate links &amp; buttons?</h2>
  <p>Both the SPACEBAR and ENTER key should activate a button.</p>
  <p>
    Only the ENTER key should activate a link. Pressing the spacebar whilst
    keyboard focus is on a link should scroll the page down.
  </p>
  <h2>Should I use aria-label or aria-labelledby?</h2>
  <p>
    Use aria-label in cases where a text label is not visible on the screen. If
    there is visible text labeling the element, use aria-labelledby instead.
  </p>
  <h2>Should I use radio, checkbox or select?</h2>
  <p>A radio group allow only one choice to be selected.</p>
  <p>A checkbox group allows zero or more choices to be selected.</p>
  <p>A select group allow one or more choices to be selected.</p>
  <h2>Why do we cater for users without JavaScript!?</h2>
  <p>
    It’s true that only a very small percentage of users browse the web with
    JavaScript disabled. Sometimes this is by choice, and sometimes not (a
    strict company security policy may disable JavaScript for all employees, for
    example).
  </p>
  <p>We are not going to go out of our way to cater for these individuals.</p>
  <p>
    However, there are other
    <a href="https://gds.blog.gov.uk/2013/10/21/how-many-people-are-missing-out-on-javascript-enhancement/">
      <em>unknown</em>
      factors
    </a>
    which can potentially place the user into a non-JS or partial-JS
    state, for example:
  </p>
  <ul>
    <li>A script fails to load due to poor connectivity</li>
    <li>A script executes much later or slower than expected</li>
    <li>A script fails due to incompatible browser support</li>
  </ul>
  <blockquote>
    <p>We don’t have any non-JavaScript users</p>
    <p>
      No,
      <em>all</em>
      your users are non-JS while they’re downloading your JS
      <a href="https://twitter.com/jaffathecake/status/207096228339658752">
        Jake Archibald (@jaffathecake) May 28, 2012
      </a>
    </p>
  </blockquote>
  <p>
    The only realistic way of defending against the
    <em>unknown</em>
    is by building our pages in the
    <a href="http://en.wikipedia.org/wiki/Progressive_Enhancement">
      Progressive Enhancement
    </a>
    way; we make sure our most important content and functionality[1] is
    always available to users in
    <strong>any</strong>
    browser, in
    <strong>any</strong>
    situation.
  </p>
  <p>
    [1] Of course, in certain situations, some functionality simply cannot be
    replicated without JavaScript - a single page app (SPA) which relies heavily
    on realtime, client-side events, might fall under this category.
  </p>
</div>
