<div id="progress-bar-overview">
  <component-banner-img/>

  <p>
    The progress bar gives an immediate, real-time visualisation of the current
    task completion status.
  </p>
  <p>
    Markup alone is static. Update progress bar with JavaScript as the task advances so the bar stays in sync
    with real progress.
  </p>
</div>
