<div id="signal-overview">
  <component-banner-img/>

  <p>
    Signals are non-interactive, informational elements that provide data-backed recommendations to help customers make more informed
    decisions.
  </p>
  <p>
    There are four signal types, each with its own corresponding modifier class:
    trustworthy, recent, time-sensitive &amp; neutral.
  </p>
</div>
