<div class="accessibility-landing-content">
  <h1>Accessibility</h1>

  <p>
    We are currently in the process of migrating, updating and centralizing all
    accessibility content from
    <a href="https://ebay.gitbook.io/mindpatterns">
      eBay MIND Patterns
    </a>
    and
    <a href="https://ebay.gitbook.io/oatmeal">
      eBay OATMEAL
    </a>
    to this new Evo Web site.
  </p>
  <p>
    Component-level accessibility guidance (accordions, menus, tabs, etc) can be
    found under the "accessibility" tab of any
    <a href="/components">
      component
    </a>
    . Everything non-component specific can be found in this section of
    the site.
  </p>

  <h2>Component Foundations vs Realities</h2>
  <p>
    The
    <a href="https://www.w3.org/WAI/ARIA/apg/patterns/">
      ARIA Authoring Practices Guide (APG)
    </a>
    is an excellent resource for any web developer learning how to apply
    accessibility semantics to common design patterns and widgets, and our work
    here would be a lot more difficult without it. However, a close look at the
    top of every APG example reveals the following disclaimer:
  </p>
  <p>
    "The code in this example is not intended for production environments.
    Before using it for any purpose, read this to understand why ... There may
    be support gaps in some browser and assistive technology combinations,
    especially for mobile/touch devices".
  </p>
  <p>
    To satisfy "production environment" criteria we must take into account the
    realities of our supported
    <a href="https://www.ebay.com/help/terms-conditions/default/ebay-users-special-access-needs?id=4658#section4">
      screen reader or browser combinations
    </a>
    ${" "}
    <em>and</em>
    our
    <a href="https://github.com/eBay/browserslist-config/blob/master/index.js">
      browser support policy
    </a>
    . Resources such as
    <a href="https://github.com/accessibilitysupported/a11ysupport.io">
      a11ysupport.io
    </a>
    , which informs developers about what code features are supported by
    assistive technologies, and
    <a href="https://developer.mozilla.org/en-US/">
      MDN
    </a>
    of course, are invaluable for this purpose.
  </p>
  <p>
    It is the undertaking of a highly iterative process of cross-referencing,
    engineering & testing, under all of these competing criteria (not to mention
    visual design considerations), that ultimately produces the production ready
    version of a component on this site.
  </p>

  <h2>How This Section is Organized</h2>
  <p>This section is organized into the following main categories:</p>

  <h3>Patterns</h3>
  <p>
    User interface patterns that either have not yet been implemented as
    components, are more general in nature (such as description lists or forms),
    or just do not fit anywhere else.
  </p>

  <h3>Anti-Patterns</h3>
  <p>
    Common accessibility anti-patterns, along with recommended alternatives.
  </p>

  <h3>Techniques</h3>
  <p>
    Specific techniques for addressing common accessibility challenges here
    (e.g. live regions and keyboard interface types)
  </p>

  <h3>Testing</h3>
  <p>Guidance for manual accessibility testing.</p>

  <h3>Miscellaneous</h3>
  <p>Anything that does not fit into the above categories can be found here.</p>
</div>
