import { urls } from "../../../../data";
<div id="skeleton-overview">
  <component-banner-img/>

  <p>
    A skeleton is a graphical placeholder, reserving physical space in the page
    for content that is not yet available for the client to render. A skeleton
    can be considered as an alternative to the${" "}
    <a href=`${urls.components}/progress-spinner`>
      progress spinner
    </a>
    ${" "}in many situations.
  </p>
  <p>
    A skeleton is appropriate as a placeholder for content in cases where a
    service or action may be slow to resolve.
  </p>

  <p>
    A skeleton is${" "}
    <strong>NOT</strong>
    ${" "}appropriate as a placeholder for content if rendering that content or
    placeholder would cause unexpected page layout shift.
  </p>

  <section
    class="section-notice section-notice--attention"
    role="region"
    aria-label="Attention"
    aria-roledescription="Notice">
    <div class="section-notice__header" id="section-notice-attention">
      <svg class="icon icon--16" height="16" width="16" aria-label="Attention">
        <icon-symbol name="attention-filled-16"/>
      </svg>
    </div>
    <div class="section-notice__main">
      <h3 class="section-notice__title">
        Cumulative Layout Shift (CLS)
      </h3>

      <p>
        It is the developer's responsibility to ensure the${" "}
        <a href="https://web.dev/articles/cls">
          CLS metric
        </a>
        ${" "}of a page is not negatively impacted by the introduction of a
        skeleton placeholder;${" "}
        <strong>
          a poor CLS score will occur whenever content shifts unexpectedly
        </strong>
        . Unexpected movement of page content usually happens because resources
        are loaded asynchronously or DOM elements get dynamically added to the
        page above existing content. Skeletons can help mask these problems${" "}
        <em>if</em>
        ${" "}they reserve the correct amount of physical space, but can
        compound the problem when they do not.
      </p>
    </div>
  </section>
</div>
