import {table} from "../../../../sass/table.module.scss";
import {urls} from "../../../../data";

<div id="skeleton">
  <!-- <section-header/> -->
  <h2>
    @ebay/skin/skeleton
    <sup class="beta">
      BETA
    </sup>
  </h2>

  <p>
    The
    <a href=`${urls.guides}/skeleton`>
      Skeleton Use Guide
    </a>
    illustrates various techniques for implementing skeletons across some
    common loading scenarios.
  </p>

  <h3 id="skeleton-types">
    Skeleton Types
  </h3>
  <table class=table>
    <thead>
      <tr>
        <th>Skeleton</th>
        <th>Default</th>
        <th>On-Secondary</th>
        <th>Purple</th>
        <th>Green</th>
        <th>Blue</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href=`${urls.components}/skeleton/css/#skeleton-avatar`>
            Avatar
          </a>
        </td>
        <td>
          <div class="skeleton" role="img" aria-label="loading">
            <div class="skeleton__avatar"/>
          </div>
        </td>

        <td>
          <div
            class="skeleton skeleton--on-secondary"
            role="img"
            aria-label="loading">
            <div class="skeleton__avatar"/>
          </div>
        </td>

        <td>
          <div
            class="skeleton skeleton--purple"
            role="img"
            aria-label="loading">
            <div class="skeleton__avatar"/>
          </div>
        </td>
        <td>
          <div class="skeleton skeleton--green" role="img" aria-label="loading">
            <div class="skeleton__avatar"/>
          </div>
        </td>
        <td>
          <div class="skeleton skeleton--blue" role="img" aria-label="loading">
            <div class="skeleton__avatar"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href=`${urls.components}/skeleton/css/#skeleton-button`>
            Button
          </a>
        </td>
        <td>
          <div class="skeleton" role="img" aria-label="loading">
            <div class="skeleton__button"/>
          </div>
        </td>

        <td>
          <div
            class="skeleton skeleton--on-secondary"
            role="img"
            aria-label="loading">
            <div class="skeleton__button"/>
          </div>
        </td>

        <td>
          <div
            class="skeleton skeleton--purple"
            role="img"
            aria-label="loading">
            <div class="skeleton__button"/>
          </div>
        </td>
        <td>
          <div class="skeleton skeleton--green" role="img" aria-label="loading">
            <div class="skeleton__button"/>
          </div>
        </td>
        <td>
          <div class="skeleton skeleton--blue" role="img" aria-label="loading">
            <div class="skeleton__button"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href=`${urls.components}/skeleton/css/#skeleton-textbox`>
            Textbox
          </a>
        </td>
        <td>
          <div class="skeleton" role="img" aria-label="loading">
            <div class="skeleton__textbox"/>
          </div>
        </td>
        <td>
          <div
            class="skeleton skeleton--on-secondary"
            role="img"
            aria-label="loading">
            <div class="skeleton__textbox"/>
          </div>
        </td>
        <td>
          <div
            class="skeleton skeleton--purple"
            role="img"
            aria-label="loading">
            <div class="skeleton__textbox"/>
          </div>
        </td>
        <td>
          <div class="skeleton skeleton--green" role="img" aria-label="loading">
            <div class="skeleton__textbox"/>
          </div>
        </td>
        <td>
          <div class="skeleton skeleton--blue" role="img" aria-label="loading">
            <div class="skeleton__textbox"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href=`${urls.components}/skeleton/css/#skeleton-image`>
            Image
          </a>
        </td>
        <td>
          <div class="skeleton" role="img" aria-label="loading">
            <div class="skeleton__image" style="height: 50px; width: 50px;"/>
          </div>
        </td>
        <td>
          <div
            class="skeleton skeleton--on-secondary"
            role="img"
            aria-label="loading">
            <div class="skeleton__image" style="height: 50px; width: 50px;"/>
          </div>
        </td>
        <td>
          <div
            class="skeleton skeleton--purple"
            role="img"
            aria-label="loading">
            <div class="skeleton__image" style="height: 50px; width: 50px;"/>
          </div>
        </td>
        <td>
          <div class="skeleton skeleton--green" role="img" aria-label="loading">
            <div class="skeleton__image" style="height: 50px; width: 50px;"/>
          </div>
        </td>
        <td>
          <div class="skeleton skeleton--blue" role="img" aria-label="loading">
            <div class="skeleton__image" style="height: 50px; width: 50px;"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href=`${urls.components}/skeleton/css/#skeleton-text`>
            Text
          </a>
        </td>
        <td>
          <div class="skeleton" role="img" aria-label="loading">
            <div class="skeleton__text"/>
          </div>
        </td>
        <td>
          <div
            class="skeleton skeleton--on-secondary"
            role="img"
            aria-label="loading">
            <div class="skeleton__text"/>
          </div>
        </td>
        <td>
          <div
            class="skeleton skeleton--purple"
            role="img"
            aria-label="loading">
            <div class="skeleton__text"/>
          </div>
        </td>
        <td>
          <div class="skeleton skeleton--green" role="img" aria-label="loading">
            <div class="skeleton__text"/>
          </div>
        </td>
        <td>
          <div class="skeleton skeleton--blue" role="img" aria-label="loading">
            <div class="skeleton__text"/>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    On large screens, skeleton loaders use a solid fill for background color; on
    small screens, a shimmer is applied.
  </p>
  <p>
    The color can be changed to purple, green or blue by applying the
    appropriate modifier, e.g.
    <code>skeleton--green</code>
    . View the
    <a href=`${urls.components}/skeleton/css/#skeleton-composite`>
      composite skeletons
    </a>
    examples for further details.
  </p>

  <h3 id="skeleton-avatar">
    Avatar Skeleton
  </h3>
  <p>
    Use the
    <code>skeleton__avatar</code>
    class to create a skeleton placeholder for an avatar.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <div class="skeleton" role="img" aria-label="loading">
        <div class="skeleton__avatar"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton" role="img" aria-label="loading">
      <div class="skeleton__avatar"/>
    </div>
  </highlight-code>

  <h3 id="skeleton-button">
    Button Skeleton
  </h3>

  <p>
    Use the
    <code>skeleton__button</code>
    class to create a skeleton placeholder for the default button shape.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <div
        class="skeleton"
        role="img"
        aria-label="loading"
        style="width: 200px;">
        <div class="skeleton__button"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton" role="img" aria-label="loading" style="width: 200px;">
      <div class="skeleton__button"/>
    </div>
  </highlight-code>

  <p>
    Use the
    <code>small</code>
    modifier to match the shape of a small button.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <div
        class="skeleton"
        role="img"
        aria-label="loading"
        style="width: 200px;">
        <div class="skeleton__button skeleton__button--small"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton" role="img" aria-label="loading" style="width: 200px;">
      <div class="skeleton__button skeleton__button--small"/>
    </div>
  </highlight-code>

  <p>
    Use the
    <code>large</code>
    modifier to match the shape of a large button.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <div
        class="skeleton"
        role="img"
        aria-label="loading"
        style="width: 200px;">
        <div class="skeleton__button skeleton__button--large"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton" role="img" aria-label="loading" style="width: 200px;">
      <div class="skeleton__button skeleton__button--large"/>
    </div>
  </highlight-code>

  <h3 id="skeleton-textbox">
    Textbox Skeleton
  </h3>
  <p>
    Use the
    <code>skeleton__textbox</code>
    class to create a skeleton placeholder for a textbox.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <div
        class="skeleton"
        role="img"
        aria-label="loading"
        style="width: 200px;">
        <div class="skeleton__textbox"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton" role="img" aria-label="loading" style="width: 200px;">
      <div class="skeleton__textbox"/>
    </div>
  </highlight-code>

  <h3 id="skeleton-image">
    Image Skeleton
  </h3>
  <p>
    Use the
    <code>skeleton__image</code>
    class to create a skeleton placeholder for an image.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <div class="skeleton" role="img" aria-label="loading">
        <div class="skeleton__image" style="height: 50px; width: 50px;"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton" role="img" aria-label="loading">
      <div class="skeleton__image" style="height: 50px; width: 50px;"/>
    </div>
  </highlight-code>

  <p>
    Notice that the height and width must be set on the
    <code>skeleton__image</code>
    element.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <div class="skeleton" role="img" aria-label="loading">
        <div class="skeleton__image" style="height: 200px; width: 200px;"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton" role="img" aria-label="loading">
      <div class="skeleton__image" style="height: 200px; width: 200px;"/>
    </div>
  </highlight-code>

  <h3 id="skeleton-text">
    Text Block Skeleton
  </h3>
  <p>
    Use the
    <code>skeleton__text</code>
    class to create a skeleton for a single block of text.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <div
        class="skeleton"
        role="img"
        aria-label="loading"
        style="width: 200px;">
        <div class="skeleton__text"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton" role="img" aria-label="loading" style="width: 200px;">
      <div class="skeleton__text skeleton__text--small"/>
    </div>
  </highlight-code>

  <p>
    Use the
    <code>skeleton__text--large</code>
    modifier to match the shape of a large block of text.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <div
        class="skeleton"
        role="img"
        aria-label="loading"
        style="width: 200px;">
        <div class="skeleton__text skeleton__text--large"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton" role="img" aria-label="loading" style="width: 200px;">
      <div class="skeleton__text skeleton__text--large"/>
    </div>
  </highlight-code>

  <p>
    Use the
    <code>skeleton__text--multiline</code>
    mofifier to create a skeleton for two lines of text.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <div
        class="skeleton"
        role="img"
        aria-label="loading"
        style="width: 200px;">
        <div class="skeleton__text skeleton__text--multiline"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton" role="img" aria-label="loading" style="width: 200px;">
      <div class="skeleton__text skeleton__text--multiline"/>
    </div>
  </highlight-code>

  <h3 id="skeleton-composite">
    Composite Skeleton
  </h3>
  <p>
    Combinations of skeletons can form a custom placeholder for more complex
    content, such as a typical eCommerce item tile in the example below.
  </p>

  <div class="demo">
    <div class="demo__inner">
      <div
        class="skeleton skeleton--purple"
        role="img"
        aria-label="loading"
        style="width: 225px;">
        <div class="skeleton__image" style="width: 225px; height: 225px"/>
        <div class="skeleton__text skeleton__text--multiline"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div
      class="skeleton skeleton--purple"
      role="img"
      aria-label="loading"
      style="width: 225px;">
      <div class="skeleton__image" style="width: 225px; height: 225px"/>
      <div class="skeleton__text skeleton__text--multiline"/>
    </div>
  </highlight-code>

  <p>
    Here is a skeleton for a compact user profile. Notice that a
    <code>div</code>
    tag can be replaced with a
    <code>span</code>
    tag for inline-block layout of elements.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <div class="skeleton skeleton--blue" role="img" aria-label="loading">
        <span class="skeleton__avatar"/>
        <span
          class="skeleton__text skeleton__text--multiline"
          style="width: 200px; vertical-align: top;"/>
      </div>
    </div>
  </div>
  <highlight-code type="html">
    <div class="skeleton skeleton--blue" role="img" aria-label="loading">
      <span class="skeleton__avatar"/>
      <span
        class="skeleton__text skeleton__text--multiline"
        style="width: 200px; vertical-align: top;"/>
    </div>
  </highlight-code>
  <h3 id="skeleton-animation">
    Skeleton Animation
    <sup>EXPERIMENTAL</sup>
  </h3>
  <p>
    The skeleton loader uses view-transition animation to swap between the
    skeleton and the loaded content. This is an experimental feature and may not
    be supported in all browsers.
  </p>

  <p>
    In order to use view-transition animation, the skeleton must have a
    <code>view-transition-name</code>
    style attribute set. The value of the attribute must be unique for
    each skeleton on the page. For this you can use
    <code>skeleton-transition-1</code>
    and
    <code>skeleton-transition-2</code>
    etc view transition names. These names should correspond to the loaded
    content view transition names so that they can transition properly.
  </p>
  <p>
    We have defined
    <code>skeleton-transition-*</code>
    so that you can use any arbitray name after skeleton-transition-. Just
    make sure that the names are unique and do not conflict with other view
    transition names on the page. Also verify that the view-transition-name set
    on the skeleton matches the view-transition-name set on the loaded content.
  </p>
  <p>
    Reminder: when swapping between the skeleton and the loaded content, use
    <code>document.startViewTransition()</code>
    to start the view transition.
  </p>
  <div class="demo">
    <div class="demo__inner">
      <button type="button" class="btn skeleton-trigger">
        Load content
      </button>

      <div
        class="skeleton"
        role="img"
        aria-label="loading"
        style="display: flex;">
        <span
          id="skeleton-transition-0"
          class="skeleton__image"
          style="height: 200px; width: 200px; view-transition-name: skeleton-transition-0"/>
        <span
          id="skeleton-transition-1"
          class="skeleton__image"
          style="height: 200px; width: 200px; view-transition-name: skeleton-transition-1"/>
        <span
          id="skeleton-transition-2"
          class="skeleton__image"
          style="height: 200px; width: 200px; view-transition-name: skeleton-transition-2"/>
      </div>
    </div>
  </div>

  <highlight-code type="html">
    <button type="button" class="btn skeleton-trigger">
      Load content
    </button>

    <div
      class="skeleton"
      role="img"
      aria-label="loading"
      style="display: flex;">
      <span
        id="skeleton-transition-0"
        class="skeleton__image"
        style="height: 200px; width: 200px; view-transition-name: skeleton-transition-0"/>
      <span
        id="skeleton-transition-1"
        class="skeleton__image"
        style="height: 200px; width: 200px; view-transition-name: skeleton-transition-1"/>
      <span
        id="skeleton-transition-2"
        class="skeleton__image"
        style="height: 200px; width: 200px; view-transition-name: skeleton-transition-2"/>
    </div>
  </highlight-code>

  <h3 id="skeleton-variables">
    Skeleton Variables
    <sup>EXPERIMENTAL</sup>
  </h3>
  <p>
    The following custom properties (aka CSS Variables) are available for
    component-level overrides and other general theming purposes.
  </p>

  <ul>
    <li>--skeleton-background</li>
  </ul>
</div>
export const metadata = {
  component: "skeleton",
  "ds-component": {
    name: "loading-skeleton",
    status: "beta",
    version: 1,
  },
};
