<div id="textbox-overview">
  <component-banner-img/>
  <p>
    The purpose of a textbox (also known as a text field or text input) is to collect form data. Therefore, textbox should
    typically be used in conjunction with a form, label and submit button.
  </p>
  <p>
    The native <code>&lt;input&gt;</code> and <code>&lt;textarea&gt;</code> elements have an implicit textbox role
    and provide built-in keyboard and accessibility support. Any custom implementations must not override these default browser behaviors.
  </p>
</div>
