export interface Input {
  min: string;
  max: string;
}
<span class="eek__rating-range">
  <span>${input.max}</span>
  <svg class="icon icon--eek-range-arrow">
    <icon-symbol name="eek-range-arrow"/>
  </svg>
  <span>${input.min}</span>
</span>
