import "../../../../sass/accessibility.scss";
<div class="a11y-pattern-content">
  <h1>Dialog Accessibility</h1>
  <h2>Best Practices</h2>

  <p> A dialog should use a native HTML <code>${"<dialog>"}</code> element.</p>
  <p>A dialog is typically opened in one of two ways:</p>
  <ul>
    <li>
      <strong>Click-activated</strong>
      ${" "}: explicitly opened and closed by clicking the button
    </li>
    <li>
      <strong>System-activated</strong>
      ${" "}: automatically opened by the system/application on page load or at
      some other arbitrary time
    </li>
  </ul>
  <p>
    Opening modal dialogs that are not requested by user (i.e. system-activated)
    are a violation of${" "}
    <a href="http://www.w3.org/TR/2014/NOTE-WCAG20-TECHS-20140916/F22">
      WCAG Guideline 3.2.5 (Level AAA)
    </a>
    ${" "}and therefore should be reserved for exceptional circumstances only.
  </p>
  <p>
    Dialog${" "}
    <strong>must not</strong>
    ${" "}be opened on hover or focus of button.
  </p>
  <p>
    Dialog${" "}
    <strong>must</strong>
    ${" "}be opened on click-event of button or via an application event.
  </p>
  <p>
    Dialog${" "}
    <strong>must</strong>
    ${" "}contain a dismiss button.
  </p>
  <p>
    Dialog${" "}
    <strong>must</strong>
    ${" "}contain at least one interactive element (this can be the dismiss
    button).
  </p>
  <p>
    Dialog${" "}
    <strong>must</strong>
    ${" "}be clearly labelled by an onscreen heading/title
  </p>
  <p>
    Dialog${" "}
    <strong>must</strong>
    ${" "}start heading hierarchy at level 2.
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides detailed instructions for how different input types
    should navigate and operate the pattern.
  </p>
  <h3>Keyboard</h3>
  <p>
    If dialog button has focus,${" "}
    <code>ENTER</code>
    ${" "}or${" "}
    <code>SPACE</code>
    ${" "}key${" "}
    <strong>must</strong>
    ${" "}open the dialog.
  </p>
  <p>
    When the dialog opens, focus${" "}
    <strong>must</strong>
    ${" "}move to the dismiss button.
  </p>
  <p>
    Dialog${" "}
    <strong>must</strong>
    ${" "}confine${" "}
    <code>TAB</code>
    ${" "}and${" "}
    <code>SHIFT-TAB</code>
    ${" "}to focusable elements of child window.
  </p>
  <p>
    Pressing${" "}
    <code>ESC</code>
    ${" "}key${" "}
    <strong>must</strong>
    ${" "}close the dialog (unless the currently focussed element has
    existing${" "}
    <code>ESC</code>
    ${" "}key behaviour) with no changes applied (effectively acting as a
    “cancel”).
  </p>
  <p>
    Dialog button${" "}
    <strong>must</strong>
    ${" "}receive focus when the dialog is closed.
  </p>
  <h3>Screen Reader</h3>
  <p>
    Dialog button${" "}
    <strong>must not</strong>
    ${" "}announce ‘has popup’. A dialog is not considered a popup (i.e${" "}
    <code>aria-haspopup=&quot;true&quot;</code>
    ${" "}is not valid in this context).
  </p>
  <p>
    Focussed element${" "}
    <em>should</em>
    ${" "}be announced when child window opens (via focus management).
  </p>
  <p>
    Title${" "}
    <strong>must</strong>
    ${" "}be announced when the dialog opens.
  </p>
  <p>
    Virtual cursor${" "}
    <strong>must</strong>
    ${" "}be confined within child window.
  </p>
  <p>
    Assistive technology${" "}
    <em>might</em>
    ${" "}announce “Entering/leaving dialog” (or words to those affect) when
    focus enters or leaves the dialog respectively.
  </p>
  <h3>Pointer</h3>
  <p>
    Clicking dialog button${" "}
    <strong>must</strong>
    ${" "}open dialog.
  </p>
  <p>
    Clicking mask${" "}
    <strong>must</strong>
    ${" "}dismiss dialog with no changes applied (effectively acting as a
    “cancel”).
  </p>
  <h2>ARIA Reference</h2>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>aria-labelledby</strong>
        </td>
        <td>
          Use onscreen text to name the dialog (typically an h2 heading
          element).
        </td>
      </tr>
      <tr>
        <td>
          <strong>aria-label</strong>
        </td>
        <td>
          Explicitly name the dialog, if no suitable onscreen text exists.
        </td>
      </tr>
    </tbody>
  </table>
</div>
