import { urls } from "../../../../data";
<div class="a11y-pattern-content">
  <h1>Fake Menu Button</h1>
  <h2>Introduction</h2>
  <p>
    A button that expands a
    <a href=`${urls.accessibility}/patterns/popover`>
      popover
    </a>
    containing a single column of links. Clicking any link will perform a
    URL navigation.
  </p>
  <p>
    The fake menu can also contain buttons. This pattern is useful if your
    “dropdown” contains a mix of navigation items and items that execute
    JavaScript.
  </p>
  <p>
    If you desire a dropdown menu that triggers a partial page reload instead of
    full page reload, please use the
    <a href=`${urls.components}/menu-button`>
      Menu Button
    </a>
    pattern instead.
  </p>
  <p>
    <strong>The distinction between menuitems and links is important!</strong>
    A menuitem is a command that executes JavaScript, whereas a link is a
    command that navigates to a url.
  </p>
  <h2>Best Practices</h2>
  <p>
    For mouse users, a fake menu button can be expanded on hover of a link, but
    we do not recommend doing so. For keyboard users, a fake menu button must
    always be triggered via a button click. If using a link as the host, a
    stealth button must be inserted for keyboard users. A stealth button is a
    button that only appears on keyboard focus.
  </p>
  <p>
    Avoid using a fake menu for important and/or frequently navigated links.
    Links in a hidden overlay will not show up in screen reader’s list of links
    until the overlay is visible.
  </p>
  <h2>Interaction Design</h2>
  <p>
    This section provides interaction guidelines for keyboard, screen reader,
    and pointing devices.
  </p>
  <h3>Keyboard</h3>
  <p>
    If host is a link, pressing TAB key while focus is on host
    <strong>must</strong>
    move keyboard focus to stealth button host.
  </p>
  <p>
    ENTER or SPACEBAR on button or stealth button host
    <strong>must</strong>
    expand overlay. Keyboard focus can be moved to first fake menu item.
  </p>
  <p>
    With focus on fake menu item, TAB key
    <strong>must</strong>
    move focus to next fake menu item.
  </p>
  <p>
    With focus on fake menu item, ESC
    <strong>must</strong>
    collapse the overlay and
    <strong>must</strong>
    return focus to host.
  </p>
  <p>
    With focus on last fake menu item, TAB key
    <strong>must</strong>
    move to next interactive element on page and
    <em>should</em>
    collapse overlay.
  </p>
  <p>
    ENTER key
    <strong>must</strong>
    activate any fake menu item with focus (i.e. links).
  </p>
  <h3>Screen Reader</h3>
  <p>
    Expanded state will be announced when focus is on button host or stealth
    button host.
  </p>
  <p>
    Fake menu items
    <strong>must</strong>
    be identified as links or buttons (e.g. not menuitems).
  </p>
  <h3>Pointer</h3>
  <p>
    Hovering over a link host
    <strong>must</strong>
    expand overlay.
  </p>
  <p>
    Hovering out of a link host
    <strong>must</strong>
    collapse overlay.
  </p>
  <p>
    Clicking button host
    <strong>must</strong>
    toggle state of overlay.
  </p>
  <h2>ARIA Reference</h2>
  <p>
    This section gives an overview of our use of ARIA, within the specific
    context of this pattern.
  </p>
  <table>
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>aria-expanded</strong>
        </td>
        <td>
          This boolean attribute signifies the expanded state of the host button
          or stealth button (but is not used on a host link).
        </td>
      </tr>
    </tbody>
  </table>
</div>
