<div class="a11y-pattern-content">
  <h1>Form</h1>
  <p>
    The purpose of a form is to collect data from the user, via one or more form
    controls. A classic example is filling out an address in an order form.
  </p>
  <p>
    Forms can submit their data to the server for processing
    <em>without</em>
    requiring any client-side JavaScript (triggering a full page
    refresh/load).
  </p>
  <p>
    For further information we recommend the excellent (and free!) web course,
    <a href="https://web.dev/learn/accessibility/forms/">
      Learn what makes a form accessible!
    </a>
  </p>
</div>
