<${input.content}/>
<footer>
  This pen is a "stretchy" CSS Grid recreation of the
  <a href="CSS Grid recreation of: https://getbootstrap.com/docs/4.0/examples/blog/">
    Bootstrap Blog Example
  </a>
  .
</footer>
