<div id="ccd-overview">
  <component-banner-img/>
  <p>
    A CCD (Common Charger Directive) pictogram displays charger inclusion
    status, wattage range (in Watts), and fast charging specification (USB PD).
  </p>
  <p>
    The pictogram consists of two parts: an icon indicating whether a charger
    is included, and a label detailing the power rating.
  </p>
</div>
