@use "../variables/variables";
@use "../mixins/private/token-mixins";

.video-player {
    position: relative;
}

.video-player video {
    height: 100%;
    width: 100%;
}

.video-player button {
    font-family: inherit;
}

.video-player__overlay {
    align-items: center;
    background-color: rgb(0 0 0 / 0.6);
    bottom: 0;
    color: var(--color-neutral-100);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.video-player__overlay-text {
    margin: 20px 20px 0;
}

.video-player__overlay--hidden {
    display: none;
}

.video-player__report-button > svg {
    margin-inline-end: var(--spacing-50);
}

.video-player .shaka-overflow-menu svg {
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    width: 24px;
}

.video-player .shaka-range-container {
    margin-bottom: -25px;

    // These are base margins added to position the slider in place.
    // After page load, these will be changed with JS
    margin-left: 105px;
    margin-right: 133px;
    z-index: 3;
}

.video-player .shaka-controls-container .shaka-play-button-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.video-player--with-nav .shaka-controls-container {
    pointer-events: none;
}

.video-player--with-nav .shaka-controls-container .shaka-bottom-controls,
.video-player--with-nav .shaka-controls-container .shaka-play-button-container {
    pointer-events: auto;
}

.video-player--compact {
    container-type: inline-size;
    width: 100%;
}

.video-player--compact .shaka-controls-button-panel {
    background-color: transparent;
    margin-bottom: 10px;
}

.video-player--compact .shaka-controls-button-panel button {
    background-color: rgb(0 0 0 / 0.32);
    border-radius: 50%;
    margin: 0 5px;
}

.video-player--compact
    .shaka-controls-button-panel
    button.shaka-remaining-time {
    border-radius: 16px;
    font-size: var(--font-size-medium);
    min-width: 80px;
    padding: var(--spacing-200) var(--spacing-100);
}

.video-player--with-nav.video-player--compact .shaka-big-buttons-container {
    display: none;
}

@container (inline-size < #{variables.$screen-size-XS}) {
    .video-player--compact video {
        object-fit: cover;
    }
    .video-player--compact .shaka-controls-button-panel {
        height: 48px;
    }
    .video-player--compact .shaka-remaining-time {
        display: none;
    }
}
